body {
		font-family: 'Barlow', sans-serif;
		color: black;
		font-size: 30px;

}


#bg {
  content: "";
  background: url("cook.jpg");
	opacity: 0.4;
	filter:alpha(opacity=40);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

h1 {
    color: white;
		font-family: 'Barlow', sans-serif;
		text-align: center;
		font-weight: bold;
		font-size: 50px;
}

button {
		background-color: #000000;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
		text-color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
		font-family: 'Barlow', sans-serif;
}

fieldset {
	border-style: hidden;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	
}

.title {
		background-color: black;
		padding-top: 30px;
		padding-bottom: 30px;

		margin: 0px;
		text-weight: 5px;
}
.console {
	font-size: 50px;
	font-weight: 20px;
}
input[type="checkbox"]{
    width: 25px;
	height: 25px;
	
}
input[type="text"]{
    width: 200px;
	height: auto;
	font-size: 30px;
}
input[type="number"]{
    width: 200px;
	height: auto;
	font-size: 30px;
}
.style-select {
   border: none;
   font-size: 25px;
   height: auto;
   padding: 10px;
   width: 268px;
	 margin: 15px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.black   { background-color: #000; color: #fff; }
